/* Theme tweaks */
a.card:is(.dark *) {
    background: #09162d;
}

/* Pages with wrench icon are considered "under construction" and made unclickable */
a:has(svg[style*="wrench.svg"]) {
  pointer-events: none;
  opacity: 0.7;
}

button:has(svg[style*="wrench.svg"]) {
  opacity: 0.7;
}

a:has(svg[style*="wrench.svg"]) > div:first-child,
button:has(svg[style*="wrench.svg"]) > svg[style*="wrench.svg"] {
  order: 2;
  margin-left: auto;
}


/* Shortcodes / Snippets */

/* <Term/> */
.prose a.glossary-term:is(.dark *) {
    color: #ff0000;
}
.prose a.glossary-term:is(.light *) {
    color: #aa0000;
}

/* <Schema/> */
.prose a.schema-object:is(.dark *) {
    color: #00ff00;
}
.prose a.schema-object:is(.light *) {
    color: #00aa00;
}


/* Welcome page */
h4.project-title:is(.dark *, .light *) {
    display: block;
    text-align: center;
    color: #ec6e2a;
}

a.project-quicklink:is(.dark *, .light *) {
    font-size: 15px;
    font-weight: 300;
    color: #ec6e2a;
}


/* Welcome page project icons have special treatment */
.prose a img:is(
    [src*="odf.svg"],
    [src*="kamu-cli.svg"],
    [src*="kamu-node.svg"],
    [src*="kamu-platform.svg"]
 ) {
  display: block;
  margin: 30px auto 0 auto;
  height: 100px;
  width: auto;
}