/* Theme tweaks */
div.card:is(.dark *),
a.card:is(.dark *) {
    background: #09162d;
}

div.card:is(.light *),
a.card:is(.light *) {
    background: #fafafa;
}

/* Pages with wrench icon are considered "under construction" and made unclickable */
a:has(svg[style*="wrench.svg"]) {
  pointer-events: none;
  opacity: 0.7;
}

button:has(svg[style*="wrench.svg"]) {
  opacity: 0.7;
}

a:has(svg[style*="wrench.svg"]) > div:first-child,
button:has(svg[style*="wrench.svg"]) > svg[style*="wrench.svg"] {
  order: 2;
  margin-left: auto;
}


/* Shortcodes / Snippets */

/* <Term/> */
.prose a.glossary-term:is(.dark *, .light *) {
    color: inherit;
    font-weight: inherit;
    border-bottom: 2px dotted #325495;
}

/* <Schema/> */
.prose a.schema-object:is(.dark *, .light *) {
    color: inherit;
    font-weight: inherit;
    border-bottom: 2px dotted #2c802c;
}


/* Welcome page */
h4.project-title:is(.dark *, .light *) {
    display: block;
    text-align: center;
}

h4.project-title a {
    border-bottom: 0;
}

a.project-quicklink:is(.dark *, .light *) {
    font-size: 15px;
    font-weight: 300;
    color: #ec6e2a;
    border-bottom: 0;
}


/* Welcome page project icons have special treatment */
.prose div img:is(
    [src*="projects/odf.svg"],
    [src*="projects/kamu-cli.svg"],
    [src*="projects/kamu-node.svg"],
    [src*="projects/kamu-platform.svg"]
 ) {
  display: block;
  margin: 30px auto 0 auto;
  height: 100px;
  width: auto;
}


/* CI badges */
div.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
div.badges img {
    display: inline;
    margin: 0;
}
div.badges a {
    border-bottom: 0;
}