.prose a.glossary-term:is(.dark *) {
    color: #ff0000;
}
.prose a.glossary-term:is(.light *) {
    color: #aa0000;
}


.prose a.schema-object:is(.dark *) {
    color: #00ff00;
}
.prose a.schema-object:is(.light *) {
    color: #00aa00;
}