table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

thead {
    margin: 0;
}

thead tr {
    border-bottom: 1px solid rgba(53, 66, 83, 0.8);
    border-top: 1px solid rgba(53, 66, 83, 0.8);
}

table th {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

table td {
    vertical-align: middle;
    font-size: 14px;
    color: var(--dark);
    line-height: 20px;
}