$header-height: 80px;

header {
    position: fixed;
    width: 100%;
    padding: 0px 80px;
    z-index: 9999;
    background-color: var(--blackRock);
    margin: 0 !important;
    height: $header-height;
}

.book-menu,
.book-menu-content,
.book-toc-content,
.book-page {
    margin-top: $header-height;
}

.book-header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    &__primary-logo {
        display: flex;
        img {
            margin: 0;
        }
    }

    &__secondary-logo {
        font-size: 14px;
        font-weight: 700;
        color: var(--navada);
        text-transform: uppercase;
        transition: color 0.3 ease;

        &:hover {
            color: var(--tango);
        }
    }
}

.book-menu-content {
    .actions-list {
        display: none;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .book-header {
        justify-content: space-between;

        .actions-list {
            display: none;
        }
    }

    #page-title {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .menu-search {
        display: block;

        #search-icon {
            width: 100%;
            justify-content: space-between;
        }
    }

    header #search-icon {
        display: none !important;
    }

    .book-menu-content {
        .actions-list {
            display: flex;
            flex-direction: column;
            gap: 10px 0;
    
            &__item {
                width: 100%;
    
                a {
                    min-height: 36px;
                }
            }
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {

    .book-header {
        .actions-list {
            margin-left: 30px;
        }
    }

    .book-icon {
        display: none;
    }

    .menu-search {
        display: none !important;
    }

    header #search-icon {
        display: block;
        margin-right: 20px;
    }
}

.book-toc-content::-webkit-scrollbar,
.book-menu-content::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

pre::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.book-toc-content::-webkit-scrollbar-thumb,
.book-menu-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 8px;
    // box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

.book-toc-content::-webkit-scrollbar-track,
.book-menu-content::-webkit-scrollbar-track {
    // background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
    background-color: var(--scrollbar-track);
}

.markdown h1,
.markdown h2,
.markdown h3 {
    font-weight: bold;
}

.title {
    color: var(--title);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.book-toc-content {
    font-weight: normal;
}

.book-menu-content a:hover,
.book-toc-content a:hover {
    opacity: 100%;
}

.book-menu-title {
    font-weight: bolder;
    color: var(--title);
    opacity: 1;
}

.book-menu input.toggle+label::after {
    font-size: 150%;
}

.book-menu input.toggle+label:hover {
    color: var(--secondary);
}

.markdown-inner,
.book-tabs {
    font-family: var(--font-body);
    color: var(--dark);
}