<footer class="footer" role="contentinfo" id="footer">
    <div class="footer-wrapper">
        <div id="inner-footer" class="row">
            <div class="large-12 medium-12 columns">
                <nav role="navigation">
                    <div class="row expanded small-up-2 medium-up-3 large-up-5">
                        <style>
                            #inner-footer .nav-head a {
                                color: white;
                            }
                        </style>

                        <div class="left-columns">
                            <div class="column column-block">
                                <h6>Company</h6>
                                <ul class="no-bullet">
                                    <li id="menu-item-49231"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49231">
                                        <a href="https://kamu.dev/">About Us</a>
                                    </li>
                                    <li id="menu-item-49232"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49232">
                                        <a href="https://kamu.dev/team/">Team</a>
                                    </li>
                                    <li id="menu-item-49236"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49236">
                                        <a href="https://kamu.dev/contact/">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column column-block">
                                <h6>Resources</h6>
                                <ul class="no-bullet">
                                    <li id="menu-item-57423"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57423">
                                        <a href="https://kamu.dev/blog/">Blog</a>
                                    </li>
                                    <li id="menu-item-49241"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49241">
                                        <a href="https://www.youtube.com/channel/UCWciDIWI_HsJ6Md_DdyJPIQ">Tech
                                            Videos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column column-block">
                                <h6>Customers</h6>
                                <ul class="no-bullet disabled">
                                    <li><a href="#">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="column column-block">
                            <div class="cta">
                                <p class="cta-title">TRY KAMU NOW</p>
                                <p class="cta-text">Check out our self-serve demo without needing to install
                                    anything.</p>
                            </div>
                            <p class="cta-btn"><a href="{{ relref . " self-serve-demo" }}" class="button pill">Try
                                    Now</a></p>
                            <div>
                                <div class="social small-only-text-center">
                                    <!--a href="https://twitter.com/xyz" target="_blank" rel="noopener noreferrer"><i
                                            class="fi-social-twitter"></i></a-->
                                    <a href="https://www.youtube.com/channel/UCWciDIWI_HsJ6Md_DdyJPIQ" target="_blank"
                                        rel="noopener noreferrer">
                                        <img src="{{.Site.BaseURL}}/images/social/gh.svg">
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCWciDIWI_HsJ6Md_DdyJPIQ" target="_blank"
                                        rel="noopener noreferrer">
                                        <img src="{{.Site.BaseURL}}/images/social/yt.png">
                                    </a>
                                    <!--a href="https://www.facebook.com/xyz" target="_blank"
                                        rel="noopener noreferrer">
                                        <img src="{{.Site.BaseURL}}/images/social/fb.png">
                                    </a-->
                                    <br>
                                    <a href="https://ca.linkedin.com/company/kamu-data" target="_blank"
                                        rel="noopener noreferrer">
                                        <img src="{{.Site.BaseURL}}/images/social/in.png">
                                    </a>
                                    <!--a href="https://www.instagram.com/xyz/" target="_blank"
                                        rel="noopener noreferrer">
                                        <img loading="lazy" width="23px" src="{{.Site.BaseURL}}/images/ig.png"
                                            data-lazy-src="{{.Site.BaseURL}}/images/social/ig.png">
                                        <noscript><img src="{{.Site.BaseURL}}/images/social/ig.png" width="23px"></noscript>
                                    </a-->
                                </div>
                            </div>

                        </div>

                </nav>

            </div>
        </div>

        <div class="row v-bottom">
            <div class="small-12 medium-12 columns" style="display: flex">
                <img width="26" class="float-left footer-logo"
                    src="{{.Site.BaseURL}}/images/kamu_logo_icon.svg"></noscript>
                <p class="source-org copyright">&copy; {{ now.Format "2006"}} Kamu Data Inc.</p>
            </div>
        </div>
    </div>
</footer>

<!-- GDPR MODAL -->
<!--div id="gdpr-modal"
    style="display: none; background-color: rgb(48, 59, 74); color: rgb(167, 167, 167); padding: 0.5em 2em 1em; text-align: center; line-height: 1.5; font-size: smaller; z-index: 10; position: sticky; bottom: 0px;">
    <div style="max-width: 1200px; margin: 0 auto;">
        <p style="
        margin: .5em 0 0 0;
        font-size: 17px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;">
            By continuing to use this site, you consent to our updated privacy agreement as <a
                href="https://kamu.dev/privacy/" style="color: #5961ff;">described here</a>. You can change your
            cookie settings at any time as <a href="https://kamu.dev/privacy/" style="color: #5961ff;">described
                here</a> but parts of our site will not function correctly without them.</p>
        <a id="gdpr-button" style="
            cursor: pointer;
            display: inline-block;
            margin-top: .5em;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            border-radius: 6px!important;
            padding: 12px 40px 12px;
            background-color: #5961ff;
            text-decoration: none;
            border: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;            
        " class="button" tabindex="0" onclick="acceptGDPR()">Continue</a>
    </div>
</div-->