{{- $currentNode := . }}
{{- if eq .Site.Params.ordersectionsby "title"}}
  {{- range .Site.Home.Sections.ByTitle}}
  {{- template "menu-nav" dict "sect" . "currentnode" $currentNode "level" 1}}
  {{- end}}
{{- else}}
  {{- range .Site.Home.Sections.ByWeight}}
  {{- template "menu-nav" dict "sect" . "currentnode" $currentNode "level" 1}}
  {{- end}}
{{- end}}

<!-- templates -->
{{- define "menu-nav" }}
{{- $currentNode := .currentnode }}
{{- $level := .level }}
{{- with .sect}}
{{- $isCurrent := eq .RelPermalink $currentNode.RelPermalink }}
{{- $isAncestor := .IsAncestor $currentNode }}
  <option value="{{ .Permalink}}" {{if eq .RelPermalink $currentNode.RelPermalink}} selected {{end}}>
    {{- range after 1 (seq $level)}}—{{ end }} 
    {{.Title}}
  </option>

  <!-- dig into sub levels only if active or menu is always ON-->
  {{- if or ($isAncestor) ($isCurrent) (.Params.alwaysopen) }}
    {{- range .Pages.ByWeight }}
      {{- if or (not .Params.hidden) ($.showhidden) }}
      {{- template "menu-nav" dict "sect" . "currentnode" $currentNode "level" (add $level 1) }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
