<div style="
    display: flex; 
    flex-direction: row;
    align-items: center;">
  <a href="https://kamu.dev">
    <img src="/images/kamu_logo.svg" alt="Kamu Logo" style="height: 30px" />
  </a>
  <a href="{{.Site.BaseURL}}">
    <div style="
      color: #777777;
      font-size: 16px;
      margin: 0px 5px 6px 7px;
      ">::</div>
  </a>
  <a href="{{.Site.BaseURL}}">
    <div style="
      color: #6d7278;
      font-size: 14px;
      font-weight: 700;
      -webkit-text-stroke-width: .35px;
      -webkit-text-stroke-color: #ffffff;
      margin: 0px 0px 0px 0px;
      ">DOCS</div>
  </a>
</div>