<nav class="shortcuts">

  <li class="" role="">
    <label>Projects</label>

    <div class="submenu-wrapper cloud">

      <ul class="vertical menu submenu is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" role="menu">
        <div class="row align-center">
          <div class="small-12 columns submenu-list">
            <li id="menu-item-49314"
              class="nav-head menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-49314 is-dropdown-submenu-parent opens-right"
              role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Our Products"
              data-is-click="false">
              <div>
                <div>
                  <a class="submenu-section-title">Our Projects</a>
                </div>

                <ul class="vertical menu submenu is-dropdown-submenu" data-submenu="" aria-hidden="true" role="menu">
                  <div class="row align-center">
                    <div class="small-12 columns submenu-list__children">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ relref . "odf" }}">Open Data Fabric<i class="icon-right-open"></i></a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ relref . "cli" }}">Kamu CLI<i class="icon-right-open"></i></a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ relref . "node" }}">Kamu Node<i class="icon-right-open"></i></a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ relref . "platform" }}">Kamu Web Platform<i class="icon-right-open"></i></a>
                      </li>
                    </div>
                  </div>
                </ul>
              </div>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </li>

  <li class="" role="">
    <a href="https://kamu.dev/whitepaper/">
      <label>Whitepaper</label>
    </a>
  </li>

  <li class="" role="">
    <a href="https://kamu.dev/blog/">
      <label>Blog</label>
    </a>
  </li>

  <li class="" role="">
    <a href="https://kamu.dev/contact/">
      <label>Contact</label>
    </a>
  </li>

</nav>